@page "/authors/new"
@page "/authors/edit/{Id:int}"

<h3>@(Id == 0 ? "New Author" : "Edit Author")</h3>
@if (editContext == null)
{
    <p>Loading...</p>
}
else
{
  <EditForm EditContext="editContext" OnValidSubmit="SaveAuthor">
      <DataAnnotationsValidator />
      <ValidationSummary />

      <div class="col-md-4 mb-3">
          <label>First Name</label>
          <InputText class="form-control" @bind-Value="authorModel.FirstName" />
          <ValidationMessage For="@(() => authorModel.FirstName)" />
      </div>

      <div class="col-md-4 mb-3">
          <label>Last Name</label>
          <InputText class="form-control" @bind-Value="authorModel.LastName" />
          <ValidationMessage For="@(() => authorModel.LastName)" />
      </div>

      <button type="submit" class="btn btn-primary" disabled="@(!IsValid())">
      @(Id == 0 ? "Create" : "Update")
      </button>
      <button type="button" class="btn btn-secondary ms-2" @onclick="Cancel">
        Cancel
      </button>
  </EditForm>
}